.container {
  max-width: 1200px;
}

.card-body {
  padding: 0.5rem;
}

a, .link {
  text-decoration: none;
  color: var(--gray);
}

a:hover, .link:hover {
  text-decoration: none;
  color: var(--gray-dark);
}

.stay-left {
  left: 0px;
}

.stay-right {
  right: 0px;
  visibility: none;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.stay-right-visible {
  opacity: 1;
  visibility: visible;
}

.font-1rem {
  font-size: 1rem;
}

.buy-cart {
  background: var(--light);
  border-radius: 35px;
  line-height: 2.5rem;
  padding-inline: 1rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.buy-cart:hover {
  background: var(--gray);
  color: #fff;
}

.user-info {
  line-height: 2.5rem;
  padding-inline: 1rem;
}

.minicart-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.1);
  -webkit-transition: .2s;
  transition: .2s;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}

.minicart-overlay-fadein {
  visibility: visible;
  opacity: 1;
}

.minicart {
  position: fixed;
  z-Index: 100;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
}

.minicart-open {
  visibility: visible;
}

.minicart-inner {
  -webkit-transition: .3s;
  transition: .3s;
  background: #fff;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  max-width: 475px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transform: translateX(-475px);
  transform: translateX(-475px);
}

.minicart-inner-open {
  visibility: visible;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.minicart-header-title {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.minicart-header {
  padding: 0 20px;
  height: 60px;
  border-bottom: 1px solid #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.minicart-products {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
}

.minicart-product-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid var(--light);
}

.minicart-product-image {
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin-right: 20px;
}

.minicart-product-image img {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.minicart-product-info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 160%;
}

.minicart-product-info-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.minicart-product-info-title h5 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 160%;
}

.minicart-product-info-delIcon {
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.minicart-product-info-delIcon:hover {
  color: var(--red);
}

.minicart-product-info-price  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  line-height: 160%;
}

.minicart-product-info-price-p {
}

.minicart-footer-total {
  padding: 22px 0;
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  display: flex;
  justify-content: space-between;
}

.minicart-footer-total-price {
	color: var(--grey-dark);
}

.minicart-footer-total-label {
	color: var(--grey);
}

.minicart-footer-btn {
  display: block;
  margin-top: 1rem;
  line-height: 2rem;
  font-weight: 800;
}


/* Pipeline - Checkout Page */
.pipeline {
}

.pipeline-step {
  display: inline-block;
  color: var(--gray);
  max-width: 202px;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.pipeline-step-active {
  color: var(--info);
}

.pipeline-step-inner {
  float: right;
} 

.pipeline-step-icon {
  font-size: 35px;
  display: block;
  margin-bottom: 15px;
}

.pipeline-step-text {
  font-size: 14px;
  min-width: 100px;
}

.pipeline-line {
  float: left;
  width: 95px;
  height: 2px;
  background: var(--gray);
  margin-top: 16px;
  border-radius: 5px;
}

.pipeline-line-active {
  background: var(--info);
}


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

